# Visualizing data from PRJNA1160215

First, GSE276999_human_sperm.pileup.mcool was downloaded from [NCBI website](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE276999)

It is scHIC data from human sperm cells. The data is in the form of a (multi)cooler file, which is a binary format for storing genomic data (H5-based).

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

import cooler
from cooler.fileops import list_coolers
import cooltools

## What is contained in the file?

In [3]:
mcool_path = "../steps/test/GSE276999_human_sperm.pileup.mcool"

list_coolers(mcool_path)

['/resolutions/1000',
 '/resolutions/5000',
 '/resolutions/10000',
 '/resolutions/20000',
 '/resolutions/40000',
 '/resolutions/50000',
 '/resolutions/100000',
 '/resolutions/200000',
 '/resolutions/400000',
 '/resolutions/500000',
 '/resolutions/1000000']

In [11]:
!mcool_path="../steps/test/GSE276999_human_sperm.pileup.mcool"
!cooler tree $mcool_path::/resolutions/1000000

1000000
 ├── bins
 │   ├── chrom (3102,) int32
 │   ├── end (3102,) int32
 │   ├── start (3102,) int32
 │   └── weight (3102,) float64
 ├── chroms
 │   ├── length (24,) int32
 │   └── name (24,) |S5
 ├── indexes
 │   ├── bin1_offset (3103,) int64
 │   └── chrom_offset (25,) int64
 └── pixels
     ├── bin1_id (4070389,) int64
     ├── bin2_id (4070389,) int64
     └── count (4070389,) int32

In [5]:
clr = cooler.Cooler(mcool_path+"::/resolutions/1000000")

In [10]:
clr.bins()[:10]

  chrom    start       end    weight
0  chr1        0   1000000       NaN
1  chr1  1000000   2000000       NaN
2  chr1  2000000   3000000       NaN
3  chr1  3000000   4000000  0.005197
4  chr1  4000000   5000000  0.003617
5  chr1  5000000   6000000  0.003442
6  chr1  6000000   7000000  0.003811
7  chr1  7000000   8000000  0.003370
8  chr1  8000000   9000000  0.003134
9  chr1  9000000  10000000  0.003447